app-messages {
    background:#FFFDF7; 
    display: block;
    overflow:  scroll;
    height: 80%;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
app-send {
    padding: 30px;
    display: block;
    height: 25%;
    text-align: center;
}

